# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
logs/
*.log

# macOS
.DS_Store

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# IDE
.idea/
